{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}

{% block content %}

<div class="auth-page">
    <div class="auth-card">

        <h1>Sign-in</h1>

        <form method="POST">
            {% csrf_token %}

            {{ form.as_p }}

            <p class="auth-link">
                Belum punya akun?
                <a href="{% url 'main:signup' %}">
                    Daftar di sini
                </a>
            </p>

            <button type="submit">
                Login
            </button>
        </form>

    </div>
</div>

{% endblock %}